# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*.pyc
*$py.class

# Static files
static

# Data
dump.rdb

# Virtual env
venv
virt
Pipfile
Pipfile.lock

# Archives
*.tar.gz

# Enviroments
.env

#For manage.py
manage.py

# Server settings
gunicorn_config.py

#Tmp files
tmp

#Log files
geckodriver.log
*.log